html{
    background: url(../img/leather_background.jpg);
    background-size: cover;
    overflow: hidden;

}

#pgc{
  width: 40%;
    height: 100%;

}

.right
{
   position: absolute;
   top: 0px;
right: 0px;
   background: black;
   float: right;
    width: 20%;
    height: 300%;
    opacity: 0.6;

}

#pgc2 {
    position: absolute;
    bottom: 40%;
    left: 6%;
    width: 20%;
    height: 40%;
    opacity: 0.9;
}

.link {
    text-align: center;
    font-family: 'Oswald', serif;
}

.link p{
    color: #f48f17;
    font-size: 3em;

}
