html{
    background: url(../img/leather_background.jpg);
    background-size: cover;
    overflow: hidden;

}

#pgc{
  width: 40%;
    height: 100%;

}

.right
{
   position: absolute;
   top: 0px;
right: 0px;
   background: black;
   float: right;
    width: 20%;
    height: 300%;
    opacity: 0.6;

}
